//env.params.PATH = ""

// files that will be accessible to the pipeline
params {
    fq_files = "${baseDir}/data/pools/*_{1,2}.fq.gz"
    reference = "${baseDir}/data/reference/GCA_004348285.1_ASM434828v1_genomic.fna"
    barcodes = "${baseDir}/data/barcodes/barcodes_*.txt"
    meta = "${baseDir}/data/meta.tsv"
    outdir = "${baseDir}/results"
    probSamples = "${baseDir}/data/bad_samples.txt"
    group = "${baseDir}/gwas/BayPass/bp_fullgroup.txt"
    lfmm = "${baseDir}/gwas/LEA/lfmm*"
}


profiles {
    
    standard {
    
        process {    
            withName: index {
                cpus = 1
                memory = 5.GB
            }
            withName: 'fastp' {
                cpus = 5
                memory = 40.GB
            }
            withName: 'demultiplex' {
                cpus = 1
                memory = 40.GB
            }
            withName: 'bwa' {
                cpus = 4
                memory = 25.GB
            }
            withName: 'variant_calling' {
                cpus = 3
                memory = 125.GB
            }
            withLabel: 'stats' {
                cpus = 3
                memory = 4.GB
            }
            withLabel: 'demon' {
                cpus = 1
                memory = 1.GB
            }
        }
    }
    
    cluster {
        executor {
            name = 'slurm'
            queueSize = 20
            }
        process {    
            withName: index {
                    cpus = 1
                    memory = 5.GB
                    queue = 'general'
                    clusterOptions = {'--qos=general'}
                }
                withName: 'fastp' {
                    cpus = 5
                    memory = 40.GB
                    queue = 'general'
                    clusterOptions = {'--qos=general'}
                }
                withName: 'demultiplex' {
                    cpus = 1
                    memory = 40.GB
                    queue = 'general'
                    clusterOptions = {'--qos=general'}
                }
                withName: 'bwa' {
                    cpus = 4
                    memory = 25.GB
                    queue = 'general'
                    clusterOptions = {'--qos=general'}
                }
                withName: 'variant_calling' {
                    cpus = 3
                    memory = 125.GB
                    queue = 'general'
                    clusterOptions = '--qos=xeon'
                }
                withLabel: 'stats' {
                    cpus = 3
                    memory = 4.GB
                    queue = 'general'
                    clusterOptions = '--qos=general'
                }
                withLabel: 'demon' {
                    cpus = 1
                    memory = 1.GB
                    queue = 'general'
                    clusterOptions = '--qos=general'

            }
        }
    }
}

// specify the container you want to use
/*profiles {
    docker {
        docker.enabled = true
    }
}*/
// record pipeline performance into an html report
timeline {
    enabled = true
    file = "${params.outdir}/logs/timeline.html"
}
// take ownership :) of an inanimate creation
manifest {
    name = 'Gabriel-A-Barrett/nf_ArcticGrayling_LandscapeGenomics'
    author = 'Gabriel Barrett'
    description = "Arctic Grayling ddRAD Landscape Genomics Analysis"
    version = '0.0.0'
    nextflowVersion = '>=21.10.6'
    homePage = 'https://github.com/Gabriel-A-Barrett/nf_ArcticGrayling_LandscapeGenomics'
    mainScript = 'main.nf'
}
