params {
    //vcf = "/mnt/d/nextflow_testing/Grayling/freebayes/consensus.vcf"
    //meta = "/mnt/d/nextflow_testing/Grayling/meta.csv"
    //params.outdir = "/mnt/d/nextflow_testing/Grayling/results"
    vcf = "$baseDir/data/consensus.vcf"
    meta = "$baseDir/data/meta.csv"
    outdir = "$baseDir/results"
    ann_vcf = "$baseDir/data/consensus.ann.vcf"
    fullentap = "$baseDir/data/final_annotations_no_contam_lvl1.tsv"
    headers_key = "$baseDir/data/reference_header_key.txt"
}

process.executor       = 'slurm'
process.clusterOptions = '--qos=general'
process.queue          = 'general'
process.cpus   = 4
process.memory = '5GB'


/*profiles {
    
    standard {
        docker.enabled = true
        process.container = 'gbarrett9086/gwas-nf'
        temp = 'auto' // path of your choise as /tmp directory in container
    }

    slurm {
        singularity.enabled = true
        process.container = "gwas-nf.sif" // after singularity pull --docker-login --force gwas-nf_latest.sif docker://gbarrett9086/gwas-nf
        executer {
            name = "slurm"
            //pollInterval = '30 sec' // checking for process termination
        }
        process {
            clusterOptions = {'--qos=general'}
            queue = 'general'
            withName: 'vcf2GWAS' {
                cpus = 1
                memory = 5.GB
            }
            withLabel: 'little_demon' {
                cpus = 1
                memory = 4.GB
            }
            withLabel: 'gwas' {
                cpus = 1
                memory = 4.GB
            }
        }
    }
}
*/
manifest {
    author = 'Gabriel Barrett'
    homePage = "https://github.com/Gabriel-A-Barrett/Grayling_gwas_nf"
    mainScript = 'main.nf'
    version = '1.0.0'
    nextflowVersion = '>=22.04.0'
    description = 'pipeline identifies outlier SNPs via Genome-wide association and differientation'
}