params {
    vcf = "/mnt/d/nextflow_testing/Grayling/freebayes/consensus.vcf"
    meta = "/mnt/d/nextflow_testing/Grayling/meta.csv"
    params.outdir = "/mnt/d/nextflow_testing/Grayling/results"
}

profiles {
    docker {
        docker.enabled = true
        process.container = 'gbarrett9086/gwas-nf'
        temp = 'auto' // path of your choise as /tmp directory in container
    }

    slurm {
        singularity.enabled = true
        process.executer = 'slurm'
        process.container = 'gbarrett9086/gwas-nf'
    }
}